@import url('https://fonts.googleapis.com/css2?family=Koulen&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&family=Karma:wght@300&family=Raleway:wght@700&display=swap');
body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: #F9F7FE;
    font-family: 'PT Mono', monospace;
    color: #272044;
}

header{
    background-color: #885DF1;
    color: #fff;
    height: 200px;
    display: grid;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-img{
    grid-row: 1/1;
    grid-column: 1/1;
    margin: 25px 0 0 70px;
    border-radius: 20px;
}

.header-name{
    grid-row: 1/1;
    grid-column: 2/3;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Koulen', cursive;
    margin-left: -20px;
}


footer{
    background-color: #885DF1;
    height: 100px;
    font-family: 'PT Mono', monospace;
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
}

ul {
    display: flex;
    justify-content: center;
}

a{
    color: #272044;
}

a:hover{
    color: #885DF1;
    transition: 200ms ease-in-out;
}

li{
    list-style-type: none;
    padding: 20px;
}

.color-palette-img{
    display: block;
    margin: 0 auto;
    border: 2px solid #885DF1;
    border-radius: 20px;
}

.logo{
    border: 2px solid #885DF1;
}

.font-example-1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.font-example-2{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: italic;
}

.font-example-3{
    font-family: 'Karma', serif;
}