@import url('https://fonts.googleapis.com/css2?family=Koulen&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&family=Karma:wght@300&family=Raleway:wght@700&display=swap');
body{
    margin: 0 auto;
    max-width: 1000px;
    background-color: #F9F7FE;
    font-family: 'PT Mono', monospace;
    color: #272044;
}

header{
    background-color: #885DF1;
    color: #fff;
    height: 200px;
    display: grid;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-img{
    grid-row: 1/1;
    grid-column: 1/1;
    margin: 25px 0 0 70px;
    border-radius: 20px;
}

.header-name{
    grid-row: 1/1;
    grid-column: 2/3;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Koulen', cursive;
    margin-left: -20px;
}

.container{
    display: grid;
}
.principle-1{
    grid-row: 1/10;
    grid-column: 1/2;
    text-align: center;
    display: grid;
    color: #000000;
    border: 1px solid;
    border-radius: 25px;
    margin: 20px 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.principle-heading{
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: 700;
    font-size: 20px;
}

.principle-screenshot{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0 auto;
}
.principle-description{
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.principle-name{
    font-size: 16px;
    color: #2e79ba;
}
.principle-2{
    grid-row: 1/10;
    grid-column: 2/3;
    text-align: center;
    color: #000000;
    border: 1px solid;
    border-radius: 25px;
    margin: 20px 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.principle-3{
    grid-row: 1/10;
    grid-column: 3/4;
    text-align: center;
    color: #000000;
    border: 1px solid;
    border-radius: 25px;
    margin: 20px 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
footer{
    background-color: #885DF1;
    height: 100px;
    font-family: 'PT Mono', monospace;
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
}

@media screen and (max-width: 39.9375em) {
    .principle-2{
        grid-row: 10/20;
        grid-column: 1/2;
    }
    .principle-3{
        grid-row: 20/30;
        grid-column: 1/2;
    }

    .header-topic{
        font-size: 25px;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .principle-3{
        grid-row: 10/20;
        grid-column: 1/3;
    }
    .header-topic{
        font-size: 20px;
    }
}
