@media only screen and (max-width: 768px) {
    .grid-element-hero{
        grid-row: 1/2;
        grid-column: 1/2;
        height: 250px;
    }
    .grid-element-event{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .grid-element-weather{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .grid-element-news{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .grid-element-spotlight{
        grid-row: 5/6;
        grid-column: 1/2;
    }
    .grid-element-join{
        display: none;
    }
    footer{
        height: 250px;
    }
    .spotlight-1,
    .spotlight-2{
        height: 200px;
    }
    .spotlight-3{
        display: none;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        background-color: #ffffff;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #885df1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav.active{
        left: 0;
    }

    .nav-item{
        margin: 16px 0;
    }

}